.chat-main
  .chat-main__group-info
    .chat-main__group-info__contents-left
      .chat-main__group-info__contents-left__summary
        チャット
      .chat-main__group-info__contents-left__member
        kohei
    .chat-main__group-info__contents-right
      .chat-main__group-info__contents-right__edit-btn
        = link_to "#",class: "link-btn" do
          .chat-main__group-info__contents-right__edit-btn__text
  .chat-main__message-list
  .chat-main__message-form