.chat-main
  .chat-main__group-info
    .chat-main__group-info__contents-left
      .chat-main__group-info__contents-left__summary
        チャット
      .chat-main__group-info__contents-left__member
        kohei
    .chat-main__group-info__contents-right
      .chat-main__group-info__contents-right__edit
        = link_to "#",class: "edit__btn" do
          .chat-main__group-info__contents-right__edit__text
          Edit
  .chat-main__message-list
  .chat-main__message-form