.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
      .side-bar__user-name__top-items__icons
        %link_to "#" 
        %far_fa-edit
  .side-bar__group-list