.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      = current_user.name
      .side-bar__user-name__top-items__name
        西村
      .side-bar__user-name__top-items__icons
        =link_to new_group_path, class: "icons__btn" do
          = icon('far', 'edit', class:"btn--icon")
        =link_to edit_user_path(current_user) do
          = icon("far", "sun", class:"btn--icon")
  .side-bar__group-list
    .side-bar__group-list__contents
      .side-bar__group-list__contents__name
        nishimura
      .side-bar__group-list__contents__message
        nishimura
